{% extends '_layouts/base.html' %}
{% load base_tags %}

<!-- Metadata -->
{% block page_title %}Search{% endblock %}
<!-- End Metadata -->

{% block content %}

  <form method="get" action=".">

    <!-- Advanced Search Box -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-center">
                Advanced Search
                <sup><a href="{% url 'search_help' %}" target="_blank" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a></sup>
            </h2>
            <hr class="intro-divider">
            <ul class="list-inline center-block text-center">
              {{ form.as_ul }}
              <li>
                <p><input type="submit" value="Search">
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- End Advanced Search Box -->
    
    {% if query or page.object_list %}
    <h2 style="text-align:center">Results</h2>
    
      {% for result in page.object_list %}
        {% include 'search/_result_object.html' %}
      {% empty %}
        <p>No results found.</p>
      {% endfor %}

      {% if page.has_previous or page.has_next %}
        <div>
          {% if page.has_previous %}<a href="?{{ request.GET.urlencode }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
          |
          {% if page.has_next %}<a href="?{{ request.GET.urlencode }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
      {% endif %}
    
    {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
  </form>
{% endblock %}

<!-- Search Unique JS -->
{% block js %}

  <script>
    $(document).ready(function() {
      $('#accordion').collapse();
    });
  </script>

{% endblock %}
<!-- End Search Unique JS -->