{% extends "_layouts/base.html" %}

<!-- Metadata -->
{% block page_title %}Home{% endblock %}
<!-- End Metadata -->
{% block body_class %}container{% endblock %}
{% block content %}

<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->

  <div class="row">
    <div class="col-md-6">
      <div id="slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
    <div class="col-md-6">
    
    </div>
  </div>

{% endblock %}
